Metrics(
    char: Size(w: 5, h: 7),
    pad: Size(w: 1, h: 1),
    width_overrides: {
        ':': 1,
        ';': 2,
        '(': 3,
        ')': 3,
        '[': 3,
        ']': 3,
        '<': 4,
        '>': 4,
        'I': 1,
        'i': 1,
        'j': 2,
        'l': 2,
        't': 4,
        '!': 1,
    }
)